{% extends "layout.html" %} {% block title %} Add Password {% endblock %} {% block
    content %}
    <div class="container">
        <form method="post" action="/forgot_password">
            <h3 align="center" style="color: azure">Forgot Password</h3>
            <div class="form-group">
            <label for="website">username</label>
            <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter username"
            />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}